In [62]:
import pandas as pd
from random import randint

## Create fake dataset of schools and scores

In [63]:
a = {'school': ['LSU', 'Alabama', 'CSUF', 'JHU', 'Oregon'],
     'sports': [randint(1,10) for x in range(5)], 'science': [randint(1,10) for x in range(5)],
     'humanities':[randint(1,10) for x in range(5)], 'debate': [randint(1,10) for x in range(5)],
     'technology':[randint(1,10) for x in range(5)], 'research': [randint(1,10) for x in range(5)],
     'affordability': [randint(1,10) for x in range(5)]
    }

df = pd.DataFrame(a)
df

,school,sports,science,humanities,debate,technology,research,affordability
0,LSU,9,4,3,6,7,4,3
1,Alabama,2,5,8,3,6,8,10
2,CSUF,4,4,7,7,3,10,4
3,JHU,10,3,2,3,2,7,10
4,Oregon,2,9,2,1,3,10,5

## Create function that creates a new DataFrame sorted by rank

In [64]:
def factors(df, factor_list):
    """
    Params
    ------
    df : pd.DataFrame
         DataFrame containing school and scores
    factor_list : list
         Contains the factors you want to rank by
         
    Returns
    -------
    final_ranking : pd.DataFrame
         A DataFrame with the schools ranked by the mean
         score for the factors you selected
         
    Notes
    -----
    You can access the school names by looking at the index
    """
    df['rank'] = df[factor_list].mean(axis=1)
    df.set_index('school', inplace=True)
    final_ranking = df.sort_values('rank', ascending=False)
    return final_ranking

In [65]:
factors(df, ['sports', 'debate', 'research'])

,sports,science,humanities,debate,technology,research,affordability,rank
school,,,,,,,,
CSUF,4,4,7,7,3,10,4,7.000000
JHU,10,3,2,3,2,7,10,6.666667
LSU,9,4,3,6,7,4,3,6.333333
Alabama,2,5,8,3,6,8,10,4.333333
Oregon,2,9,2,1,3,10,5,4.333333